<div class="main-content-centered">
	<section id="aboutpage">
		<div class="container">
			<article>
				<p>Appliedline&trade; is the software development branch of AA Advanced Information Technology PLC&reg; (AAAIT), specialized
					in software development for goverment, corporate and individual organizations.
				</p>
				<p>AAAIT PLC has been in the business of IT hardware and service deliverables since 2006 before incubating its software
					development unit in 2009. In 2015, AAAIT PLC decided to let its software development unit run independently as Appliedline
					with a vision to be incorporated by 2020.
				</p>
				<p>Our core values are precision, synergy, professionalism and continuous learning. Our goal is to exceed the expectations
					of every client by offering outstanding customer service and great value that puts their bussiness at a competitive
					advantage as well as eliminate outlined bussiness problems.
				</p>
				<p>At Appliedline, we value our customers hence we invest a lot in hiring developers that have solid and vast experience
					in the software development industry. Our team have deep industry knowledge in technologies such as ASP.NET MVC, .NET
					Core, AngularJS &amp; Angular, NodeJS, cross-platform and hybrid app development (Xamarin and Cordova), UX and UI design,
					RDBMS &amp; NoSql databases, Microsoft Azure and many more.
				</p>
				<p class="desktop-only">In order to meet the demand of our ever growing clientele, Appliedline maintains a wide range of technology development
					programmes to keep its employees up-to-date with the latest tools and resources in the software development industry.
				</p>
				<p class="desktop-only">Technical expertise along with vast and deep industry knowledge makes Appliedline the ideal choice for a software development
					company to provide custom software services and products to your company.
				</p>
			</article>
		</div>
	</section>

	<aside id="sidebar-wr">
		<div class="sidebar">
			<h3>Mission</h3>
			<p>Offer outstanding service and value that puts the client's bussiness at a competitive advantage.</p>
		</div>
		<div class="sidebar">
			<h3>Vision</h3>
			<p>Provide innovative products and services that drive government institutions, 
				and consumed by every home worldwide.
			</p>
		</div>
	</aside>



	<section id="schedule">
		<div class="container-timeline">
			<div class="timeline">
				<div class="timeline-content">
					<div class="container3 left">
						<div class="content">
							<h2 class="schedule-year">2018</h2>
							<p>
								<strong>Crystal Cheque</strong> - a cheque writing software that allows you to print on your bank cheques. It's main goal
								is to eliminate problems related to errors while writing cheques by hand.</p>
						</div>

					</div>
				</div>
				<div class="timeline-content">
					<div class="container3 right">
						<div class="content">
							<h2 class="schedule-year">2017</h2>
							<p>
								<strong>eZembil</strong> - buy products or services over the Internet. Convenient shopping from the comfort of their home
								or office.
							</p>
						</div>
					</div>
				</div>

				<div class="timeline-content">
					<div class="container3 left">
						<div class="content">
							<h2 class="schedule-year">2017</h2>
							<p>
								<strong>CargoCanal</strong> - a system designed to solve a gross logistics and excessive demurraage cost problem faced by
								Ethiopian Maritime Affairs Authority(EMAA).</p>
						</div>
					</div>
				</div>

				<div class="timeline-content">
					<div class="container3 right">
						<div class="content">
							<h2 class="schedule-year">2017</h2>
							<p>
								<strong>Seekerfit</strong> - an online job portal accessible from a web browser. Seekerfit's goal is to allow applicants
								apply for jobs and meet face-to-face with employers regardless of location differences.</p>
						</div>
					</div>
				</div>

				<div class="timeline-content">
					<div class="container3 left">
						<div class="content">
							<h2 class="schedule-year">2016</h2>
							<p>
								<strong>Qeek WMS</strong> - a warehouse management system designed with one of the most powerful serverside technologies
								in the world, Microsoft ASP.NET MVC.</p>
						</div>
					</div>
				</div>

				<div class="timeline-content">
					<div class="container3 right">
						<div class="content">
							<h2 class="schedule-year">2015</h2>
							<p>
								<strong>Cost Estimator</strong> - a software designed to help importers estimate the cost of importing any type of cargo
								(by HS Code) including freight and port charges as well as taxes from the country of origin until its final destination.</p>
						</div>
					</div>
				</div>

				<div class="timeline-content">
					<div class="container3 left">
						<div class="content">
							<h2 class="schedule-year">2014</h2>
							<p>
								<strong>GSS MAN</strong> - a school management system. It's currently used by the Gibson School Systems and has been running
								since 2014.</p>
						</div>
					</div>
				</div>

				<div class="timeline-content">
					<div class="container3 right">
						<div class="content">
							<h2 class="schedule-year">2009</h2>
							<p>
								<strong>Millennium Browser</strong> - a web browser designed and released in the Ethiopian millennium to help the Ethiopian
								natives surf the Internet by typing in their native language "geez".</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>