<div class="container">
    <div class="mySlides">
        <div class="numberText"> 1/7 </div>
        <img src="../../assets/graphics/cc1.JPG" class="slideImage" alt="AAAIT Appliedline staff at CargoCanal launching ceremony">
    </div>
    <div class="mySlides">
        <div class="numberText"> 2/7 </div>
        <img src="../../assets/graphics/cc2.JPG" class="slideImage" alt="Invited guests at checkpoint">
    </div>
    <div class="mySlides">
        <div class="numberText"> 3/7 </div>
        <img src="../../assets/graphics/cc3.JPG" class="slideImage" alt="Ceremony began at 9:30 Am at UNECA">
    </div>
    <div class="mySlides">
        <div class="numberText"> 4/7 </div>
        <img src="../../assets/graphics/cc4.JPG" class="slideImage" alt="Ceremony began at 9:30 Am at UNECA">
    </div>
    <div class="mySlides">
        <div class="numberText"> 5/7 </div>
        <img src="../../assets/graphics/cc5.JPG" class="slideImage" alt="AAAIT Appliedline managers with EMMA director">
    </div>
    <div class="mySlides">
        <div class="numberText"> 6/7 </div>
        <img src="../../assets/graphics/cc6.JPG" class="slideImage" alt="Embassy of Somalia representatives">
    </div>
    <div class="mySlides">
        <div class="numberText"> 7/7 </div>
        <img src="../../assets/graphics/cc7.JPG" class="slideImage" alt="CargoCanal officially launched">
    </div>
    <a class="previous" (click)="nextAndPrevSlide(-1)"> &#10094; </a>
    <a class="next" (click)="nextAndPrevSlide(1)"> &#10095; </a>
    <!-- <div class="image-description">
        <p id="description"></p>
    </div> -->

    <div class="row">
        <div class="column">
            <img class="small-images fullWidth" src="../../assets/graphics/cc1.JPG" (click)="currentSlide(1)">
        </div>
        <div class="column">
            <img class="small-images fullWidth" src="../../assets/graphics/cc2.JPG" (click)="currentSlide(2)">
        </div>
        <div class="column">
            <img class="small-images fullWidth" src="../../assets/graphics/cc3.JPG" (click)="currentSlide(3)">
        </div>
        <div class="column">
            <img class="small-images fullWidth" src="../../assets/graphics/cc4.JPG" (click)="currentSlide(4)">
        </div>
        <div class="column">
            <img class="small-images fullWidth" src="../../assets/graphics/cc5.JPG" (click)="currentSlide(5)">
        </div>
        <div class="column">
            <img class="small-images fullWidth" src="../../assets/graphics/cc6.JPG" (click)="currentSlide(6)">
        </div>
        <div class="column">
            <img class="small-images fullWidth" src="../../assets/graphics/cc7.JPG" (click)="currentSlide(7)">
        </div>
    </div>
</div>

<div class="article">
    <p class="header">CargoCanal has officially launched on October 25, 2018</p>
    <article>
        <p>
            CargoCanal is a platform that allows to manage and improve the logistics service
            of the country by facilitating the information exchange between maritime, freight forwarders, 
            consignees and other stakeholders in the freight forwarding industry. It is also 
            designed to help other stakeholders like national banks, customs and ministry of
            transportation to addess the issues they experience relating to import and export.
            This platform has been launched on 25th of december at UNECA with guests invited from
            different stakeholders of the industry.
        </p>
        <p>
            As mentioned in the ceremony "Ethiopia is 170th among 176 countries in the quality of logistics service."
            one of the main reasons for this is lack of fast and real time information exchange between stakeholders and 
            actors of the industry.CargoCanal shows the location and status of each cargos,it hardly believed
            that it will solve many problems in the industry.
        </p>
    </article>
</div>
<div id="clip">
    <iframe src="https://www.youtube.com/embed/XRXQwgga5DM"
     frameborder="0" allow="accelerometer; autoplay: encrypted-media; gyroscope: picture-in-picture"
     allowfullscreen></iframe>
</div>
<div class="article">
    <article>
        <p>
            on the launching ceremony the director of Ethiopian Maritime Affairs Authority(EMMA) director 
            Mr. Mekonen Abera said "logistics without information is impossible.The platform we are launching
            today is going to digitalize and modernize the logistcs service".<br>
            Mr. Alemayehu Tolosa, one of the investors in the industry said " we were not be able to
            trace our cargo and it was very hard to get our cargo after it entered to one of the dry ports
            ,but now we can get such kind of information at real time".
        </p>
        <p>
            The cermony of the launching includes program announcement, welcome messages, opening remark, keynote speech
            ,CargoCanal presentation, discussion on the presentation and official launching and declaration of
            CargoCanal followed by lunch program.
        </p>
    </article>
</div>