#logo-title {
    padding-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

#img-logo {
    display: none;
}

@media screen and (max-width:480px) {
    #header {
        margin-top: 0;
        border-bottom: 1px solid #ccc;
    }
    /* #header li, #header li.nav-left {
        top: 15px;
        left: 0;
        float: left;
        width: auto;
        position: absolute;
    }
    #header li.nav-right{
        float: right;
        right: 0;
        left: auto;
    } */
    #header #company {
        padding: 0;
    }

    #img-logo {
        display: inline-block;
    }

    #logo-title {
        display: none;
    }
    #header ul {
        margin: 0;
        padding: 0;
        top: 20px;
        left: 20%;
        position: absolute;
    }
}