<header id="header">
    <div id="company">
        <h1 id="logo-title" (click)="routeHome()">
            Applied<span class="color-theme">line</span>
        </h1>
        <img id="img-logo" src="../../assets/global/images/appliedline_logo_64_transparent.png" (click)="routeHome()">
    </div>
<!--  -->
    <!-- <div id="appliedline-logo">
        <img id="img-logo" src="../../assets/global/images/appliedline_logo_64_transparent.png" (click)="routeHome()">
    </div> -->
<!--  -->
    <nav>
        <ul>
            <li class="nav-left">
                <a routerLink="/contact">CONTACT</a>
            </li>
            <li class="nav-right">
                <a routerLink="/about">ABOUT</a>
            </li>
            <li class="nav-right">
                <a routerLink="/cargocanal">Events</a>
            </li>

        </ul>
    </nav>

</header>