<footer id="footer">
    <ul class="faico clear">
        <!-- <li>
            <a title="facebook" target="_blank" rel="noopener" class="faicon-facebook" href="https://www.facebook.com/">
                <i class="fa fa-facebook"></i>
            </a>
        </li> -->
        <li>
            <a title="twitter" target="_blank" rel="noopener" class="faicon-twitter" href="https://twitter.com/appliedline">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a title="email" target="_parent" class="faicon-envelope" routerLink="/contact">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li>
            <a title="linkedin" target="_blank" rel="noopener" class="faicon-linkedin" href="https://www.linkedin.com/company/appliedline">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a title="instagram" target="_blank" rel="noopener" class="faicon-instagram" href="https://www.instagram.com/appliedline.aaait">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <!-- <li>
            <a title="google+" target="_blank" rel="noopener" class="faicon-google-plus" href="https://plus.google.com/s/appliedline/top">
                <i class="fa fa-google-plus"></i>
            </a>
        </li> -->

    </ul>


    <p>
        <small>&copy; AAAIT &amp; Appliedline 2018</small>
    </p>
</footer>