/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
	/* helvetica, Verdana, sans-serif; */
	font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	background: #f2f2f2;
	overflow-x: hidden;
	padding-top: 70px;
}

/*for Header only*/

#header {
	position: fixed;
	background-color: #fff;
	color: #fff;
	min-height: 70px;
	margin: 0;
	z-index: 999;
	width: 100%;
	top: 0;
}

.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
	padding: 0;
}

.color-theme {
	color: #2e3191;
}

#header #company {
	float: left;
	padding-left: 150px;
}

#header a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}

#header ul {
	margin: 0;
	padding: 0;
}

#header li {
	display: inline;
	padding: 0 20px 0 20px;
}

#header nav {
	float: right;
	margin-top: 15px;
	margin-right: 100px;
}

#header .edit, #header .current a {
	color: #6a5acd;
	font-weight: bold;
}

#header a:hover {
	color: #cccccc;
}

/* Caption text */

.caption-text {
	color: #f2f2f2;
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */

.dots {
	margin-top: 20px;
	text-align: center;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

.show {
	display: block;
}

.hidden {
	display: none;
}

.container1 {
	display: block;
	padding: 0 30px;
	width: 100%;
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
}

.container4 {
	width: 80%;
	margin: auto;
	overflow: hidden;
	height: 150px;
}

.logo {
	float: left;
	margin: 0px;
	padding-top: 5px;
	padding-left: 150px;
}

a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

button a:hover {
	color: inherit;
}
a:hover {
	color: #6a5acd;
}

a, a:hover {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

h1 {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	color: #010000;
	margin: 0 0 20px 0;
	padding: 0;
	display: block;
}

footer {
	text-align: center;
	color: #FFFFFF;
	min-height: 100px;
}

.banner-caption {
	color: #6a5acd;
	float: right;
	padding-top: 30px;
	margin-right: 60px;
	font-size: 32px;
}

.banner-sub-caption {
	font-size: .8em;
	color: #555
}

/*For The Front or index page*/

img {
	vertical-align: middle;
}

/* The dots/bullets/indicators */

.button {
	height: 33.5px;
	background: #6a5acd;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.icons {
	padding-top: 100px;
	padding-bottom: 100px;
}

.icons2 {
	padding-top: 50px;
	padding-bottom: 35px;
}

.icons2 .clients h1 {
	color: #6a5acd;
	text-align: center;
	font-size: 2em;
}

.one, .two, .three {
	float: left;
	width: 25%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

.one img, .two img, .three img {
	width: 110px;
}

.icons #seekerfit {
	text-align: center;
	color: #6a5acd;
}

.icons #ezembil {
	text-align: center;
	color: #6a5acd;
}

#sidebar {
	width: 25%;
	float: right;
	margin-right: 125px;
	margin-top: 25px;
}

/*Contact Us Form*/

#ezembil h1 {
	margin-top: 30px;
}

#ezembil p {
	margin-left: 50px;
	margin-right: 20px;
}

.myfixed {
	position: fixed !important;
	top: 0;
	z-index: 9999;
	background-color: #454583 !important
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, input, select, textarea {
	color: #5A5A5A;
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

form {
	overflow: hidden;
}

.underline {
	border-bottom: solid 2px #474544;
	margin: -0.512em auto;
	width: 80px;
}

.icon_wrapper {
	margin: 50px auto 0;
	width: 100%;
}

.icon {
	display: block;
	fill: #474544;
	height: 50px;
	margin: 0 auto;
	width: 50px;
}

.text-center {
	text-align: center;
}

.desktop-only {
	display: block;
}

.mobile-only {
	display: none;
}

.main-content-centered {
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width:768px) {
	.main-content-centered{
		width: 100%;
	}
	.desktop-only {
		display: none;
	}
	#container {
		margin: 20px auto;
		width: 95%;
	}
	.container1 {
		width: 80%;
		margin: auto;
		overflow: hidden;
		padding: 5px;
		overflow-x: hidden;
	}
	#container1 {
		display: block;
		max-width: 1345px;
		padding: 0;
		width: 80%;
		margin: auto;
		overflow: hidden;
	}
	#header nav, #header nav li, .icons2 .one, .icons .one, .icons2 .two, .icons .three, .icons .client, #text .info {
		float: none;
		text-align: center;
		width: 100%;
	}
	#header #company {
		float: left;
		padding-left: 10px;
	}
	#header nav {
		padding-bottom: 5px;
	}
	.icons2 {
		display: none;
	}
	.logo {
		float: none;
		width: 100%;
		padding-left: 0px;
	}
	.icons #seekerfit {
		text-align: center;
		margin-top: 100px;
		color: #6a5acd;
	}
	.icons #ezembil {
		text-align: center;
		margin-top: 100px;
		color: #6a5acd;
	}
}

@media screen and (max-width: 480px) {
	body {
		padding-top: 75px;
	}
	.caption-text {
		font-size: .8rem;
	}
	h1 {
		font-size: 26px;
	}
	#header #company {
		float: none;
		/* text-align: center; */
		width: 100%;
	}
	.underline {
		width: 68px;
	}
	.icon {
		height: 35px;
		width: 35px;
	}
	.underline {
		width: 53px;
	}
	input[type='text'], [type='email'], select, textarea {
		font-size: 0.875em;
	}
	.mobile-only {
		display: block;
	}
}