<!-- contains the landing image  -->
<section #firstshow id="firstshow"></section>

<section id="letusknow-wr">
	<section id="letusknow">
		<form name="whatOnMind" (ngSubmit)="onSubmit()" #whatOnMind="ngForm">
			<h2 class="inquiry-text">Need great apps? Let's do it</h2>
			<input type="text" name="message" [(ngModel)]="message" placeholder="What's on your mind..." autocomplete="off">
			<button type="submit" class="button">Submit</button>
		</form>
	</section>
</section>

<section class="icons">
	<div class="container1">
		<div class="one">
			<h3>
				<span class="color-theme">Desktop</span> Application</h3>
			<img alt="" src="assets/graphics/9.6e.png">
			<p>Programs designed to run on a PC or Mac independently without the need for an Internet connection. 
				Work anywhere, anytime at your pace.</p>
		</div>
		<div class="one">
			<h3>
				<span class="color-theme">Mobile</span> Application</h3>
			<img alt="" src="assets/graphics/18.png">
			<p>Applications designed to run on a mobile device such as a smart phone, tablet or watch. 
				Apps are generally small, individual software units with limited function.</p>
		</div>
		<div class="one">
			<h3>
				<span class="color-theme">Cloud</span> Service</h3>
			<img alt="" src="assets/graphics/14.1.png">
			<p>Software-as-a-Service that can be consumed without having to invest in 
				hardware, development and maintenance. Save cost and be more productive.</p>
		</div>
		<div class="one">
			<h3>
				<span class="color-theme">Storage</span> Service</h3>
			<img alt="" src="assets/graphics/13.1.png">
			<p>We provides computer storage space and related management services. We also offer periodic 
				backup and archiving. You can scale up or down as desired.</p>
		</div>
	</div>
</section>

<section id="firstshow2">
	<a href="//seekerfit.com" title="seekerfit.com" target="_blank" rel="noopener">
		<h2 class="banner-caption">
			Seekerfit
			<br>
			<span class="banner-sub-caption">find jobs &bull; post jobs &bull; hire</span>
		</h2>
	</a>

	<div class="mobile-only hero-base-wr">
		<Button class="button">
			<a title="seekerfit.com" href="//seekerfit.com" target="_blank" rel="noopener">Get Started</a>
		</Button>
	</div>
</section>


<section class="icons">
	<div class="container1">
		<div class="one">
			<img alt="" src="assets/graphics/1.1.png">
			<h3>Software
				<span class="color-theme">Development</span>
			</h3>
			<p>Conceiving, analyzing, designing, coding, testing, documenting, and bug fixes 
				with industry practice of continuous integration and continuous delivery.</p>
		</div>


		<div class="one">
			<img alt="" src="assets/graphics/2.2.png">
			<h3>Database
				<span class="color-theme">Architecture</span>
			</h3>
			<p>We provide database designs that are secure, 
				scalable with reduced data redundancy, improved data integrity 
				and guaranteed optimal performance.
			</p>
		</div>

		<div class="one">
			<img alt="" src="assets/graphics/3.3.png">
			<h3>
				System <span class="color-theme">Integration</span>
			</h3>
			<p>We provide seamless integration of new component sub-system
				into existing systems and ensure the subsystems function
				together as a unit.</p>
		</div>

		<div class="one">
			<img alt="" src="assets/graphics/4.4.png">
			<h3>Software
				<span class="color-theme">Consulting</span>
			</h3>
			<p>We provide software assessment, code review, corporate consultancy, 
				UX and UI design, and software development knowledge transfer.</p>
		</div>

	</div>

</section>

<section id="firstshow3">
	<div class="container">
		<a href="//ezembil.com" title="eZembil.com" target="_blank" rel="noopener">
			<h2 class="banner-caption">
				eZembil
				<br>
				<span class="banner-sub-caption">buy &bull; sell &bull; anytime</span>
			</h2>
		</a>
	</div>

	<div class="mobile-only hero-base-wr">
			<Button class="button">
				<a title="ezembil.com" href="//ezembil.com" target="_blank" rel="noopener">Shop Now</a>
			</Button>
		</div>
</section>

<section id="ethics-wr">
	<div class="ethics-jumbotron">
		<h1>Ethics</h1>
		<h1>&amp;</h1>
		<h1>Process</h1>
	</div>
	<div class="ethics-notes">
		<div class="row">
			<article>
				<img alt="" src="assets/graphics/icons/1.1.png">
				<span class="title">INITIAL REQUIRMENT</span>
				<p>Scribble your specific cause and ideas to help you visualise your objectives.</p>
			</article>
			<article>
				<img alt="" src="assets/graphics/icons/2.1.png">
				<span class="title">ANALYSIS</span>
				<p>Thoroughly examine your requirement and draft an implementation plan.</p>
			</article>
			<article>
				<img alt="" src="assets/graphics/icons/3.png">
				<span class="title">BRAINSTORMING</span>
				<p>All our great minds are brought together for your benefit.</p>
			</article>

		</div>

		<div class="row">
			<article>
				<img alt="" src="assets/graphics/icons/4.png">
				<strong style="color:#6a5acd; ">DESIGN</strong>
				<p>After all the preparation steps, the hard work begins.</p>
			</article>
			<article>
				<img alt="" src="assets/graphics/icons/5.png">
				<strong style="color:#6a5acd; ">IMPLEMENTATION</strong>
				<p>Our developers translate the design into interactive software.</p>
			</article>
			<article>
				<img alt="" src="assets/graphics/icons/6.png">
				<strong style="color:#6a5acd; ">TESTING</strong>
				<p>All functionality are thoroughly tested before rolling out to production.</p>
			</article>
		</div>
	</div>
</section>


<section>
	<div class="slideshow-container">
		
		<!-- <div class="mySlides fade">
			<div class="numbertext"></div>
			<img alt="" src="assets/graphics/events_ict.jpg">
			<div class="caption-text">Caption Text</div>
		</div> -->
		
		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img alt="" src="assets/graphics/events_cc_2.jpg">
			<div class="caption-text">CargoCanal session with MD Cruise Logistics PLC</div>
		</div>
		
		<div class="mySlides fade">
			<div class="numbertext">Made in Ethiopia Exhibition 2018 &bull; Feb 23, 2018</div>
			<img alt="" src="assets/graphics/events_mie_3.jpg">
			<div class="caption-text">Live bug fix by DevOps managers</div>
		</div>
		
		<div class="mySlides fade">
			<div class="numbertext">Made in Ethiopia Exhibition 2018 &bull; Feb 24, 2018</div>
			<img alt="" src="assets/graphics/events_mie_4.png">
			<div class="caption-text">eZembil live demo</div>
		</div>
		
		<div class="mySlides fade">
			<div class="numbertext"></div>
			<img alt="" src="assets/graphics/events_mie_6.jpg">
			<div class="caption-text">Marketing Manager with DevOps Team</div>
		</div>

		<div class="mySlides fade">
			<div class="numbertext">Made in Ethiopia Exhibition 2018 &bull; Feb 24, 2018</div>
			<img alt="" src="assets/graphics/events_mie_5.png">
			<div class="caption-text">eZembil signup by local manufacturers</div>
		</div>
	</div>
		
</section>


<div class="dots">
	<!-- <span class="dot"></span> -->
	<span class="dot"></span>
	<span class="dot"></span>
	<span class="dot"></span>
	<span class="dot"></span>
	<span class="dot"></span>
</div>



<section class="icons2">
	<div class="container1">
		<div class="clients">
			<h1>Clientele</h1>
		</div>

		<div class="one clientele">
			<img alt="" src="assets/graphics/9.9.png">
		</div>

		<!-- <div class="one">
			<img alt="" src="assets/graphics/10.1.png">
		</div> -->

		<div class="one clientele">
			<img alt="" src="assets/graphics/5.5.png">
		</div>

		<div class="one clientele">
			<img alt="" src="assets/graphics/2.PNG">
		</div>

	</div>

</section>